/* Import fonts */
@import "./fonts.css";

/* Import theme variables */
@import "./theme.css";

/* Import Tailwind */
@import "tailwindcss";

/* Import component classes */
@import "./components.css";

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-be-vietnam-pro);
}

