.btn {
  padding: 14px 32px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--ielts-red);
  color: white;
}

.primary-white {
  color: var(--ielts-red);
  background-color: #FFFFFF;
}

.primary-white:hover {
  color:#FFFFFF;
  background-color: var(--ielts-red);
  outline: 2px solid #FFFFFF;
}